*{
    padding:1rem;
    margin:0;
    font-family: 'Lato', sans-serif;
}
.navbar
{   width:200rem;
    overflow: hidden;
    height:3rem;
    background-color: #111;
    color:white;
    padding: 2rem 1rem;
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    justify-items:flex-start;

}
.product
{
    margin-left: 3rem;
}
.contact
{
    margin-left: 3rem;
}
.outer-image img{
    width:310rem;
    overflow: hidden;
    height:100rem;
    display: flex;
    font-size: 2rem;
}
#home
{   
    width: 100%;
    height: 100rem;
    object-fit: cover;
}
.outer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -80rem;
    color: white;
}
.babu
{
    font-size: 6rem;
    flex-wrap: wrap;
}
.babuup
{
    font-size:2rem;
}
.spice-div
{
    display: flex;
    padding-top: 80rem;
    flex-direction: column;
    padding-left: 1rem;
    flex-wrap: wrap;
}
.spice
{
    font-size:4rem;
    width:60vh;
    flex-wrap: wrap;
}
.matter
{
    font-size: 3rem;
    flex-wrap: wrap;
    width:30rem;
    
}
.matter-image
{
    width: 40rem;
}
#matter-image
{
    width:100%;
    height:auto;
    object-fit: cover;
}
.range-div
{
    display: flex;
    flex-direction: column;
    top:200rem;
}
.range
{
    font-size: 5rem;
    width:60vh;
}
.range-matter
{
    font-size: x-large;
    width:30rem;
}
.pics
{
    display: flex;
    flex-wrap: wrap;
    width:30rem;
}
img
{
    width:100%;
    object-fit: cover;
}
#about
{
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    width:60rem;

}
#about-matter
{
    font-size: x-large;
    width:30rem;
}
.about-image
{
    display: flex;
    flex-wrap: wrap;
}

.footer
{
    background-color:antiquewhite;
    width:199vh;
    height: 10vh;
    justify-content:space-around;
    
}
.footer-home
{
    margin-left: 10vh;
}
.footer-product
{
    margin-left: 10vh;
}
.footer-contact
{
    margin-left: 10vh;
}
.copyright
{
    margin-top: -5vh;
    margin-left: 5vh;
    font-size:1.5rem;
}


html{
   font-size: 62.5%;
}
@media all 
{
    #home
    {
        width:100%;
    }
    .babu .babuup
    {
        width:60%;
    }
}



